altgraph==0.17
appdirs==1.4.4
APScheduler==3.6.3
asgiref==3.4.1
astroid==2.7.3
atari-py==0.2.6
attrs==21.2.0
Automat==20.2.0
autopep8==1.5.7
beautifulsoup4==4.10.0
biopython==1.79
black==21.8b0
blinker==1.4
bootstrap4==0.1.0
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
cfscrape==2.1.1
cfscrapefork==1.0.4
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
cloudpickle==1.6.0
colorama==0.4.4
colorit==0.1.0
configparser==5.0.2
constantly==15.1.0
crayons==0.4.0
cryptg==0.2.post4
cryptography==3.4.8
cssselect==1.1.0
cv==1.0.0
cycler==0.10.0
Cython==0.29.24
decorator==5.0.9
dill==0.3.4
dj-database-url==0.5.0
Django==3.2.7
django-appconf==1.0.4
django-bootstrap-form==3.4
django-bootstrap4==3.0.1
django-crispy-forms==1.12.0
django-debug-toolbar==3.2.2
django-drf-filepond==0.4.0
django-filter==2.4.0
django-forms-bootstrap==3.1.0
django-heroku==0.3.1
django-htmlmin==0.11.0
django-image-cropping==1.6.1
django-pagination-bootstrap==2.4.4
django-phone-field==1.8.1
django-phonenumber-field==5.2.0
django-storages==1.11.1
django-widget-tweaks==1.4.8
djangorestframework==3.12.4
easy-thumbnails==2.7.1
easyocr==1.4
EasyProcess==0.3
evolut==1.4
fake-headers==1.0.2
fake-useragent==0.1.11
ffmpy==0.3.0
flake8==3.9.2
future==0.18.2
getmac==0.8.2
greenlet==1.1.1
GridDataFormats==0.5.0
gsd==2.4.2
gTTS==2.2.3
gunicorn==20.1.0
gym==0.19.0
h11==0.12.0
h2==4.0.0
hachoir==3.1.2
hpack==4.0.0
html5lib==1.1
HTMLParser==0.0.2
httmock==1.4.0
http-request-randomizer==1.3.2
httplib2==0.19.1
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.2
imageio==2.9.0
importlib-metadata==4.8.1
imutils==0.5.4
incremental==21.3.0
isort==5.9.3
itemadapter==0.4.0
itemloaders==1.0.4
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
kaitaistruct==0.9
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.3
maxminddb==2.0.3
maxminddb-geolite2==2018.703
mccabe==0.6.1
mci==1.1.1
MechanicalSoup==1.1.0
mmtf-python==1.1.2
MouseInfo==0.1.3
mpg123==0.4
msgpack==1.0.2
multiprocess==0.70.12.2
my-package==0.0.0
mypy-extensions==0.4.3
mysql-connector-python==8.0.26
mysqlclient==2.0.3
natsort==7.1.1
networkx==2.6.2
numpy==1.21.2
oauth2client==4.1.3
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
opencv-python-headless==4.5.3.56
pandas==1.3.2
parse==1.19.0
parsel==1.6.0
pathspec==0.9.0
peewee==3.14.4
pefile==2021.9.3
PGet==0.5.1
Pillow==8.2.0
platformdirs==2.3.0
playsound==1.3.0
playwright==1.14.1
priority==1.3.0
Protego==0.1.16
protobuf==3.17.3
proxy-requests==0.5.2
psutil==5.8.0
psycopg2==2.9.1
py-params==0.10.2
pyaes==1.6.1
pyarmor==6.8.0
pyarmor-webui==1.2.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycodestyle==2.7.0
pycparser==2.20
PyDispatcher==2.0.5
pydivert==2.1.0
pydub==0.25.1
pyee==8.2.2
PyExecJS==1.5.1
pyfiglet==0.8.post1
pyflakes==2.3.1
PyGetWindow==0.0.9
pyglet==1.5.20
PyHamcrest==2.0.2
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
PyJWT==1.7.1
pylint==2.10.2
PyMsgBox==1.0.9
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
pyppeteer==0.2.6
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pyquery==1.4.3
PyRect==0.1.4
PyScreeze==0.1.27
PySocks==1.7.1
pytesseract==0.3.8
python-anticaptcha==0.7.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-telegram-bot==13.7
PyTweening==1.0.3
pytz==2021.1
pyuic5-tool==0.0.1
PyVirtualDisplay==2.2
PyWavelets==1.1.1
pywin32==301
pywin32-ctypes==0.2.0
PyYAML==5.4.1
queuelib==1.6.2
quidam==1.23
regex==2021.8.28
requests==2.26.0
requests-html==0.10.0
robobrowser==0.5.3
rope==0.19.0
rsa==4.7.2
rstr==3.0.0
scikit-image==0.18.3
scipy==1.7.1
Scrapy==2.5.0
selenium==3.141.0
selenium-wire==4.5.2
service-identity==21.1.0
shortuuid==1.0.1
six==1.16.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
stable-baselines==2.10.2
teleg-api-bot==0.0.111
telegram==0.0.1
telegram-upload==0.4.0
Telethon==1.23.0
termcolor==1.1.0
tesseract==0.1.3
threadpoolctl==2.2.0
tifffile==2021.8.30
tk==0.1.0
tk64==0.1
toml==0.10.2
tomli==1.2.1
torch==1.9.0
torchvision==0.10.0
tornado==6.1
tqdm==4.62.2
twilio==6.63.2
Twisted==21.7.0
twisted-iocpsupport==1.0.2
typed-ast==1.4.3
typing-extensions==3.10.0.2
tzlocal==2.1
urllib3==1.26.6
w3lib==1.22.0
webbot==0.34
webdriver-manager==3.4.2
webencodings==0.5.1
websockets==9.1
Werkzeug==2.0.1
whitenoise==5.3.0
wrapt==1.12.1
wsproto==1.0.0
xlrd==2.0.1
XlsxWriter==3.0.1
zipp==3.5.0
zope.interface==5.4.0

(1) D:\files\pro\virtaul_env>pip install django-heroku
Requirement already satisfied: django-heroku in c:\users\anas\appdata\local\programs\python\python39\lib\site-packages (0.3.1)
Requirement already satisfied: whitenoise in c:\users\anas\appdata\local\programs\python\python39\lib\site-packages (from django-heroku) (5.3.0)
Requirement already satisfied: psycopg2 in c:\users\anas\appdata\local\programs\python\python39\lib\site-packages (from django-heroku) (2.9.1)
Requirement already satisfied: django in c:\users\anas\appdata\local\programs\python\python39\lib\site-packages (from django-heroku) (3.2.7)
Requirement already satisfied: dj-database-url>=0.5.0 in c:\users\anas\appdata\local\programs\python\python39\lib\site-packages (from django-heroku) (0.5.0)
Requirement already satisfied: pytz in c:\users\anas\appdata\local\programs\python\python39\lib\site-packages (from django->django-heroku) (2021.1)
Requirement already satisfied: asgiref<4,>=3.3.2 in c:\users\anas\appdata\local\programs\python\python39\lib\site-packages (from django->django-heroku) (3.4.1)
Requirement already satisfied: sqlparse>=0.2.2 in c:\users\anas\appdata\local\programs\python\python39\lib\site-packages (from django->django-heroku) (0.4.1)

(1) D:\files\pro\virtaul_env>pip install gunicorn
Requirement already satisfied: gunicorn in c:\users\anas\appdata\local\programs\python\python39\lib\site-packages (20.1.0)
Requirement already satisfied: setuptools>=3.0 in c:\users\anas\appdata\local\programs\python\python39\lib\site-packages (from gunicorn) (58.0.4)

(1) D:\files\pro\virtaul_env>pip freeze -m requirements.txt

Usage:
  pip freeze [options]

no such option: -m

(1) D:\files\pro\virtaul_env>pip freeze -w requirements.txt

Usage:
  pip freeze [options]

no such option: -w

(1) D:\files\pro\virtaul_env>pip freeze --requirement

Usage:
  pip freeze [options]

--requirement option requires 1 argument

(1) D:\files\pro\virtaul_env>pip freeze -w --requirement

Usage:
  pip freeze [options]

no such option: -w

(1) D:\files\pro\virtaul_env>pip freeze
altgraph==0.17
appdirs==1.4.4
APScheduler==3.6.3
asgiref==3.4.1
astroid==2.7.3
atari-py==0.2.6
attrs==21.2.0
Automat==20.2.0
autopep8==1.5.7
beautifulsoup4==4.10.0
biopython==1.79
black==21.8b0
blinker==1.4
bootstrap4==0.1.0
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
cfscrape==2.1.1
cfscrapefork==1.0.4
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
cloudpickle==1.6.0
colorama==0.4.4
colorit==0.1.0
configparser==5.0.2
constantly==15.1.0
crayons==0.4.0
cryptg==0.2.post4
cryptography==3.4.8
cssselect==1.1.0
cv==1.0.0
cycler==0.10.0
Cython==0.29.24
decorator==5.0.9
dill==0.3.4
dj-database-url==0.5.0
Django==3.2.7
django-appconf==1.0.4
django-bootstrap-form==3.4
django-bootstrap4==3.0.1
django-crispy-forms==1.12.0
django-debug-toolbar==3.2.2
django-drf-filepond==0.4.0
django-filter==2.4.0
django-forms-bootstrap==3.1.0
django-heroku==0.3.1
django-htmlmin==0.11.0
django-image-cropping==1.6.1
django-pagination-bootstrap==2.4.4
django-phone-field==1.8.1
django-phonenumber-field==5.2.0
django-storages==1.11.1
django-widget-tweaks==1.4.8
djangorestframework==3.12.4
easy-thumbnails==2.7.1
easyocr==1.4
EasyProcess==0.3
evolut==1.4
fake-headers==1.0.2
fake-useragent==0.1.11
ffmpy==0.3.0
flake8==3.9.2
future==0.18.2
getmac==0.8.2
greenlet==1.1.1
GridDataFormats==0.5.0
gsd==2.4.2
gTTS==2.2.3
gunicorn==20.1.0
gym==0.19.0
h11==0.12.0
h2==4.0.0
hachoir==3.1.2
hpack==4.0.0
html5lib==1.1
HTMLParser==0.0.2
httmock==1.4.0
http-request-randomizer==1.3.2
httplib2==0.19.1
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.2
imageio==2.9.0
importlib-metadata==4.8.1
imutils==0.5.4
incremental==21.3.0
isort==5.9.3
itemadapter==0.4.0
itemloaders==1.0.4
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
kaitaistruct==0.9
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.3
maxminddb==2.0.3
maxminddb-geolite2==2018.703
mccabe==0.6.1
mci==1.1.1
MechanicalSoup==1.1.0
mmtf-python==1.1.2
MouseInfo==0.1.3
mpg123==0.4
msgpack==1.0.2
multiprocess==0.70.12.2
my-package==0.0.0
mypy-extensions==0.4.3
mysql-connector-python==8.0.26
mysqlclient==2.0.3
natsort==7.1.1
networkx==2.6.2
numpy==1.21.2
oauth2client==4.1.3
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
opencv-python-headless==4.5.3.56
pandas==1.3.2
parse==1.19.0
parsel==1.6.0
pathspec==0.9.0
peewee==3.14.4
pefile==2021.9.3
PGet==0.5.1
Pillow==8.2.0
platformdirs==2.3.0
playsound==1.3.0
playwright==1.14.1
priority==1.3.0
Protego==0.1.16
protobuf==3.17.3
proxy-requests==0.5.2
psutil==5.8.0
psycopg2==2.9.1
py-params==0.10.2
pyaes==1.6.1
pyarmor==6.8.0
pyarmor-webui==1.2.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycodestyle==2.7.0
pycparser==2.20
PyDispatcher==2.0.5
pydivert==2.1.0
pydub==0.25.1
pyee==8.2.2
PyExecJS==1.5.1
pyfiglet==0.8.post1
pyflakes==2.3.1
PyGetWindow==0.0.9
pyglet==1.5.20
PyHamcrest==2.0.2
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
PyJWT==1.7.1
pylint==2.10.2
PyMsgBox==1.0.9
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
pyppeteer==0.2.6
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pyquery==1.4.3
PyRect==0.1.4
PyScreeze==0.1.27
PySocks==1.7.1
pytesseract==0.3.8
python-anticaptcha==0.7.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-telegram-bot==13.7
PyTweening==1.0.3
pytz==2021.1
pyuic5-tool==0.0.1
PyVirtualDisplay==2.2
PyWavelets==1.1.1
pywin32==301
pywin32-ctypes==0.2.0
PyYAML==5.4.1
queuelib==1.6.2
quidam==1.23
regex==2021.8.28
requests==2.26.0
requests-html==0.10.0
robobrowser==0.5.3
rope==0.19.0
rsa==4.7.2
rstr==3.0.0
scikit-image==0.18.3
scipy==1.7.1
Scrapy==2.5.0
selenium==3.141.0
selenium-wire==4.5.2
service-identity==21.1.0
shortuuid==1.0.1
six==1.16.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
stable-baselines==2.10.2
teleg-api-bot==0.0.111
telegram==0.0.1
telegram-upload==0.4.0
Telethon==1.23.0
termcolor==1.1.0
tesseract==0.1.3
threadpoolctl==2.2.0
tifffile==2021.8.30
tk==0.1.0
tk64==0.1
toml==0.10.2
tomli==1.2.1
torch==1.9.0
torchvision==0.10.0
tornado==6.1
tqdm==4.62.2
twilio==6.63.2
Twisted==21.7.0
twisted-iocpsupport==1.0.2
typed-ast==1.4.3
typing-extensions==3.10.0.2
tzlocal==2.1
urllib3==1.26.6
w3lib==1.22.0
webbot==0.34
webdriver-manager==3.4.2
webencodings==0.5.1
websockets==9.1
Werkzeug==2.0.1
whitenoise==5.3.0
wrapt==1.12.1
wsproto==1.0.0
xlrd==2.0.1
XlsxWriter==3.0.1
zipp==3.5.0
zope.interface==5.4.0